@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  @apply text-4xl font-bold;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  &__container {
    @apply bg-slate-700 h-56 w-full min-w-full flex flex-col items-center justify-center
  }
  &__title {
    @apply text-lg font-bold text-white;
  }
  &__subtitle {
    @apply text-base font-semibold text-gray-400;
  }
  &__link {
    @apply underline text-base font-semibold text-blue-600;
  }

}
